---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Button from '~/components/ui/Button.astro';
import Image from '~/components/common/Image.astro';

const metadata = {
  title: 'Max Pacheco Portfolio',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>

  <Hero2
    tagline="ABOUT ME"
    image={{ src: '~/assets/images/max_polo.jpg', alt: 'Max Image'}}
    actions={[
      {
        variant: 'primary',
        text: 'Resume',
        href: 'https://drive.google.com/file/d/1ylTKTl10kE73I4SJdgLyw221D5YQoDaB/view?usp=sharing',
        icon: 'tabler:list-check',
      },
      {
        text: 'Github',
        href: 'https://github.com/MaxPacheco02',
        icon: 'tabler:brand-github',
      },
      {
        text: 'My projects',
        href: '#Projs',
        icon: 'tabler:tool',
      },
    ]}
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight">Who am I?</span><br />
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Hi there!</span> I'm Max Pacheco, a Robotics and 
        Digital Systems engineering student at Tecnologico de Monterrey currently in
        my 8th semester. I'm very passionate about robotics and mathematics, and I love
        to solve hard problems. Come check out my work!</span
      >
    </Fragment>
  </Hero2>

  <BlogLatestPosts
    title="Projects"
    id="Projs"
  />

  <Steps
    id="edu"
    title="Education"
    items={[
      {
        title: `B.S. in Robotics and Digital Systems Engineering <br /> <span class="font-normal">Tecnológico de Monterrey</span> <br /> <span class="text-sm font-normal">2021 - 2025</span>`,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <Features2
    title="Contact"
    items={[
      {
        title: 'Phone',
        description: '+52 (922) 154 5256',
        icon: 'tabler:headset',
      },
      {
        title: 'Email',
        description: 'maxprpxam@icloud.com',
        icon: 'tabler:mail',
      },
      {
        title: 'Location',
        description: 'Tecnológico de Monterrey, Monterrey, Nuevo León, México',
        icon: 'tabler:map-pin',
      },
    ]}
  />

</Layout>
